* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    height: 100vh;

}
main{
    margin-top: 5rem;
}

.container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1vmin;
    width: 60vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    font-size: 15vmin;
    background-color: #1f2937;
    color: #e5e7eb;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    animation: pop 0.25s ease;
    cursor: pointer;
}

@keyframes pop {
    0% {
        transform: scale (0);
    }

    100% {
        transform: scale(1);
    }
}

.pop {
    animation: pop 0.25s ease;
}

.box:active {
    transform: scale(0.9);
}

.msgContainer {
    height: 18vmin;
}

#startBtn {
    background-color: #2363eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 5px;
}

#startBtn:hover {
    background-color: #1d4ed8;
    box-shadow: 0 0 12px #3b82f6;
}

#resetBtn {
    background-color: #dc2626;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3 ease;
    cursor: pointer;
}

#resetBtn:hover {
    background-color: #b91c1c;
    box-shadow: 0 0 8px #3b82f6;
}

.hide {
    display: none;
}

.msgContainer {
    height: 18rem;
    opacity: 0;
    transform: scale(0.9);
    transition: all 0.4s ease;
}

.msg {
    font-size: 3rem;
    margin-top: 6rem;
}

.win {
    background-color: #4caf50;
    color: white;
    animation: glow 0.8s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px #4caf50;
    }

    to {
        box-shadow: 0 0 20px #4caf50;
    }
}

.msgContainer.show {
    opacity: 1;
    transform: scale(1);
}

.gameHide {
    display: none;
}
